<head>
<body>
<body style="background-color: lightsalmon;">
	{%include "barra.html"%}
	<p></p>
	{%include "circbar.html"%}

	


<h1>circle equation: given 3 points on circunference</h1>

<form action="/circ3o" method="GET">
		<p>point 1:</p>
		<label>x</label>
		<input type="text" name="x1"> 
		<label>y</label>
		<input type="text" name="y1">
		
		<p>point2:</p>
		<label> x</label>
		<input type="text" name="x2">
		<label> y</label>
		<input type="text" name="y2">

		<p>point3:</p>
		<label> x</label>
		<input type="text" name="x3">
		<label> y</label>
		<input type="text" name="y3">
		
		


		<input type="submit" value="find data">
<p></p><a href="/circ">given a center and a radius</a>




</body>

</head>