<head>
<body>
<body style="background-color: paleturquoise;">
	{%include "barra.html"%}
	<p></p>
	{%include "circbar.html"%}
	


<h1>circle equation from circle centre and radius</h1>

<form action="/circo/" method="GET">
		<p>circle center</p>
		<label>x</label>
		<input type="text" name="x"> 
		<label>y</label>
		<input type="text" name="y">
		
		
		<label> radius</label>
		<input type="text" name="r">
		
		
		


		<input type="submit" value="find data">
<p></p><a href="/circ3">given three points on circunference</a>




</body>

</head>