<head>
<body>
<body style="background-color: lavender;">
	{%include "barra.html"%}
	<p></p>
	{%include "circbar.html"%}


<h1> circle equation given a line where the centre lies on and 2 points on the circunference</h1>
<p></p>

<form action="/circplo/" method="GET">
		<label>A  </label>
		<input type="text" name="A"> 
		<label>B:</label>
		<input type="text" name="B">
		<label>C </label>
        <input type="text" name="C"> 
        <p></p>
        <label>x</label>
        <input type="text" name="x">
        
        <label> y</label>
        <input type="text" name="y"> 
        <p></p>
        <label>x2</label>
        <input type="text" name="x2">
        
        <label> y2</label>
        <input type="text" name="y2"> 
        

		<input type="submit" value="enter">




</body>

</head>