<head>
<body>
<body style="background-color:#fff7e6;">
	{%include "barra.html"%}
	<p></p>
	


<h1>Distance between point and line</h1>




<form action="/circdo/" method="GET">
		<p>circle:</p>
		<p>x²+y²+Dx+Ex+F=0</p>
		<label>D</label>
		<input type="text" name="D"> 
		<label>E</label>
		<input type="text" name="E">
		
		<label>F</label>
		<input type="text" name="F">
		<p></p>
		<p>line:</p>
		<p>Ax+By+C=0</p>
		<label>A</label>
		<input type="text" name="A"> 
		<label>B</label>
		<input type="text" name="B"> 
		<label>C</label>
		<input type="text" name="C"> 
		
		


		<input type="submit" value="enter">

<p></p>



</body>

</head>