<html>

<head>
<title>Maths</title>
</head>
<body>
<body style="background-color:lightgoldenrodyellow;">

	{%include "barra.html"%}
	


<style>
h1{
	text-align: center;
	color: orangered;
}
</style>
<h1>Maths</h1>
<HR WIDTH=90%>

<p>  </p>



<a href="/gauss">gaussean distribution</a>
		 

<p></p>
<a href="/parall">parallelogram fourth point possible coordinates</a>
<p></p><a href="/3d">3d pythagoras</a>
<p></p>
<a href="/dist">distance between line and point and two parallel lines</a>
<p></p>
<a href="/triang">triangle info</a>
<p></p>
<a href="/sym">symetry, given a point or line of symetry</a>
<p></p>
<a href="/circ">circles, formula</a>
<p></p>
<a href="/circd">relationship between circle and line</a>
<p></p>
<a href="/plotrr">plotrr: technical drawing</a>
<p></p>
<a href="/matriz">matrizes</a>
<p></p>
<a href="/pos">triangulacion</a>
{%include "footer.html"%}
</body>
</html>
