<html>

<style>

</style>

<style >

	#barra{
		margin:0;
		padding:0;
		list-style:none;

	}

	#barra a{
		display: inline;
		margin:300 90px;
		text-align: center;
	}
	
<meta charset="UTF-8"	
</style>
<body>
	<div style="background-color: #ffffb3; overflow: visible;">
		<ul id="barra" style="list-style-type: none;background-color: #ffffb3;">
		
			
			<a href="/gauss">gauss z&lt;num</a>
		 

			<a href="/gauss_">gauss num1&lt;z&lt;num2</a>

			<a href="/gaus_s">gauss num&lt;z</a>

			
			
			
			
		</ul>
	</div>
</body>

</html>