<head>
<title>matrizes</title>
<body>
<body style="background-color:#fff7e6;">
	{%include "barra.html"%}
	<p></p>
	{%include "barram.html"%}
	


<h1>Matriz 4&times;4</h1>




<form action="/det4/" method="GET">
		<p>Meter valores filas</p>
		<p>(fila 1)</p>
		<label>_____a<sub>1</sub><sub>1</label>
		<input type="text" name="D"> 
		<label>a<sub>1</sub><sub>2</label>
		<input type="text" name="E">
		<label>a<sub>1</sub><sub>3</sub></label>
		<input type="text" name="F">
		<label>a<sub>1</sub><sub>4</sub></label>
		<input type="text" name="G">
		
		<p></p>
		<p>(fila 2)</p>
		<label>_____a<sub>2</sub><sub>1</label>
		<input type="text" name="vu"> 
		<label>a<sub>2</sub><sub>2</label>
		<input type="text" name="vd">
		<label>a<sub>2</sub><sub>3</sub></label>
		<input type="text" name="vt">
		<label>a<sub>2</sub><sub>4</sub></label>
		<input type="text" name="vc">
		
		<p></p>
		<p>(fila 3)</p>
		<label>______a<sub>3</sub><sub>1</label>
		<input type="text" name="tu"> 
		<label>a<sub>3</sub><sub>2</label>
		<input type="text" name="td">
		<label>a<sub>3</sub><sub>3</sub></label>
		<input type="text" name="tt">
		<label>a<sub>3</sub><sub>4</sub></label>
		<input type="text" name="tc">
		<p></p>

		<p>(fila 4)</p>
		<label>______a<sub>4</sub><sub>1</label>
		<input type="text" name="cu"> 
		<label>a<sub>4</sub><sub>2</label>
		<input type="text" name="cd">
		<label>a<sub>4</sub><sub>3</sub></label>
		<input type="text" name="ct">
		<label>a<sub>4</sub><sub>4</sub></label>
		<input type="text" name="cc">
		
		
		
		
		
		


		<input type="submit" value="enter">

<p></p>



</body>

</head>