<html>

<style>

</style>

<style >

	#barra{
		margin:0;
		padding:0;
		list-style:none;

	}

	#barramol a{
		display: inline;
		margin:100 15px;
		text-align: center;
	}
	
<meta charset="UTF-8"	
</style>
<body>
	<div style="background-color: lightcoral; overflow: visible;">
		<ul id="barramol" style="list-style-type: none;background-color: lightcoral;">
		
			
			<a href="/molec2">knowing Mr 2 elements</a>
			<a href="/molec3">knowing Mr 3 elements</a>
			<a href="/molec4">knowing Mr 4 elements</a>
			<a href="/molec2tvm">knowing temp, vol and mass 2 elements</a>
			<a href="/molec3tvm">knowing temp, vol and mass 3 elements</a>
			<a href="/molec4tvm">knowing temp, vol and mass 4 elements</a>
			
			
		</ul>
	</div>
</body>

</html>