<head>
<body>
<body style="background-color:	 #f2f2f2;">
	{%include "barra.html"%}


<h1>finding possible fourth points of a parralellogram</h1>
<p>being A the lowest point you have,b the point most to the right and top you have and c the most to the left and top</p>

<form action="/parasult/" method="GET">
		<label>A  x</label>
		<input type="text" name="ax"> 
		<label>y:</label>
		<input type="text" name="ay">
		<p></p>
		<label>B  x</label>
        <input type="text" name="bx"> 
        <label>y</label>
        <input type="text" name="by">
        <p></p>
        <label>C  x</label>
        <input type="text" name="cx"> 
        <label>y</label>
        <input type="text" name="cy">

		<input type="submit" value="enter">




</body>

</head>