<title>calculate empirical formula of element with three compounds</title>
<head>
<body>
<body >
	{%include "barra.html"%}
	<p></p>
	{%include "mrbar.html"%}


<h1>rotation of a point</h1>

<form action="/plot1/" method="GET">
		<label>pointx</label>
		<input type="text" name="x"> 
		<label>pointy</label>
		<input type="text" name="y">
		<p></p>
		<label>centre1</label>
		<input type="text" name="c1">
		<label>centre2</label>
		<input type="text" name="c2"> 
		<p></p>
		<label>angle</label>
		<input type="text" name="ang">
		 


		<input type="submit" value="enter">




</body>

</head>