<head>
<body>
<body style="background-color:  #8be8bb;">
	{%include "barra.html"%}
	<p></p>
	


<h1>Triangulation</h1>
<h2>calculating position from knowing position of two points and the angle to the north of these</h2>
<p>please enter three points of triangle:</p>
<form action="/posult/" method="GET">
		<label>first point</label>
		<p></p><label>___x</label>
		<input type="text" name="x1"> 
		<label>|y</label>
		<input type="text" name="y1">
		<label>|angle to point from north</label>
		<input type="text" name="ang1">
		<p></p>
		<label>second point</label>
		<p></p><label>___x</label>
		<input type="text" name="x2"> 
		<label>|y</label>
		<input type="text" name="y2">
		<label>|angle to point from north</label>
		<input type="text" name="ang2">
		
		
		


		<input type="submit" value="find data">




</body>

</head>