<html>

<head>
<title> result</title>
</head>
<body>
<body style="background-color:hsl(173, 100%, 93%);">

	{%include "barra.html"%}
	

<style>
h1{
	
	color: limegreen;
}
</style>
<h1>answer</h1>

<p>{{data}}</p>
<br></body>
<p><b>determinant:</b></p>
<p>  {{result}} </p>
<br></br>
<p><b>inverse matrix:</b></p>
<p>{{nuu}}&nbsp &nbsp{{nud}}&nbsp &nbsp{{nut}}&nbsp &nbsp{{nuc}}</p>
<p>{{ndu}}&nbsp &nbsp{{ndd}}&nbsp &nbsp{{ndt}}&nbsp &nbsp{{ndc}}</p>
<p>{{ntu}}&nbsp &nbsp{{ntd}}&nbsp &nbsp{{ntt}}&nbsp &nbsp{{ntc}}</p>
<p>{{ncu}}&nbsp &nbsp{{ncd}}&nbsp &nbsp{{nct}}&nbsp &nbsp{{ncc}}</p>

<a href={{previous}} >continue in same program</a>






</body>
</html>