<head>
<body>
<body style="background-color: palevioletred;">
	{%include "barra.html"%}
	<p></p>
	


<h1>Symmetry: given line of symmetry and a point</h1>

<form action="/simlo/" method="GET">
		<p>point to be reflected:</p>
		<label>x</label>
		<input type="text" name="x1"> 
		<label>y</label>
		<input type="text" name="y1">
		<p>line of symetry:</p>
		
		<label> A</label>
		<input type="text" name="A">
		<label> B</label>
		<input type="text" name="B">
		<label> c</label>
		<input type="text" name="c">

		
		


		<input type="submit" value="find data">
<p></p><a href="/sym">given a point of symetry</a>




</body>

</head>