<head>
<body>
<body style="background-color: greenyellow;">
	{%include "barra.html"%}
	<p></p>
	


<h1>Symmetry: given point of symmetry and a point</h1>

<form action="/simpo/" method="GET">
		<p>point to be reflected:</p>
		<label>x</label>
		<input type="text" name="x1"> 
		<label>y</label>
		<input type="text" name="y1">
		<p>point of symetry:</p>
		
		<label> x</label>
		<input type="text" name="psx">
		<label> y</label>
		<input type="text" name="psy">
		
		


		<input type="submit" value="find data">
<p></p><a href="/siml">given a line of symetry</a>




</body>

</head>