<head>
<body>
<body style="background-color: #f2f2f2;">
	{%include "barra.html"%}
	<p></p>
	


<h1>projectile motion</h1>

<form action="/dpl/" method="GET">
		<label>A</label>
		<input type="text" name="A"> 
		<label>B</label>
		<input type="text" name="B">
		
		<label>C</label>
		<input type="text" name="c">
		<p></p>
		<label>P1</label>
		<input type="text" name="p1"> 
		<label>P2</label>
		<input type="text" name="p2"> 
		


		<input type="submit" value="find data">

<p></p>
<a href="/dll"> HREF CURRENTLY UNAVAILABLE distance betwen to parallel lines</a>


</body>

</head>