<head>
<body>
<body style="background-color:  #ffe6ff;">
	{%include "barra.html"%}
	<p></p>
	


<h1>Triangle information</h1>
<p>please enter three points of triangle:</p>
<form action="/tri/" method="GET">
		<label>x1</label>
		<input type="text" name="x1"> 
		<label>y1</label>
		<input type="text" name="y1">
		<p></p>
		
		<label>x2</label>
		<input type="text" name="x2">
		<label>y2</label>
		<input type="text" name="y2">
		<p></p>
		<label>x3</label>
		<input type="text" name="x3"> 
		<label>y3</label>
		<input type="text" name="y3"> 
		


		<input type="submit" value="find data">




</body>

</head>