
<html>

<style>

</style>

<style >

	#barra{
		margin:0;
		padding:0;
		list-style:none;

	}

	#barra a{
		display: inline;
		margin:300 100px;
		text-align: center;
	}
	
<meta charset="UTF-8"	
</style>
<body>
	<div style="background-color: lightgrey; overflow: visible;">
		<ul id="barra" style="list-style-type: none;background-color: lightgray;">
		
			
			<a href="/vectors2">2 vectors</a>
			<a href="/vectors3">3 vectors</a>
			<a href="/vectors4">4 vectors</a>
			
			
			
		</ul>
	</div>
</body>

</html>