<title>Error</title>
{%load static%}
<a href={{previous}}>&lt;&lt;back</a>
<style>
	h1{
	text-align: center;
	color: red;
}
</style>
<h1>Error</h1>
<style>
	p{
	text-align: center;
	
}
</style>
<p>Seems like we ran into an error, make sure you introduced values where necesary and that these where the required type.</p>
<p>If you believe it is a problem with the program please send us a an <a href="mailto:sdog25471@gmail.com">email</a> with the information you introducedS.</p>
<br>
<style>
	h3{
	text-align: center;
	color: #1165ed;
	
}
</style>
<h3 ><b>{{paraf}}</b></h3>
<style>
	
</style>
<style>
	ul{
	align-items: center;
	
}
</style>
<ul>
	<img  src= "{% static 'images/error.gif' %}" width='400' height='400'/>
</ul>