<head>
{%load static%}
<body>
<body >

	{%include "barra.html"%}
	<p></p>
	{%include "vectbar.html"%}


<h1>2 vectors addition</h1>

<form action="/vectsult4/" method="GET">
		<label>v1</label>
		<input type="text" name="v1"> 
		<label>angle1</label>
		<input type="text" name="ang1">
		<p></p>
		<label>v2</label>
		<input type="text" name="v2">
		<label>angle2</label>
		<input type="text" name="ang2">
		<p></p>
		<label>v3</label>
		<input type="text" name="v3"> 
		<label>angle3</label>
		<input type="text" name="ang3">
		<p></p>
		<label>v4</label>
		<input type="text" name="v4">
		<label>angle4</label>
		<input type="text" name="ang4"> 

		<input type="submit" value="enter">
<p></p>




</body>

</head>