
<html>

<style >
	#barra{
		margin:0;
		padding:0;
		list-style:none;

	}

	#barra a{
		display: inline;
		margin:0 1000px;
		text-align: center;
	}
	
	
</style>
<body>

	<ul style="background-color:Tomato id="barra">
		
		<a  href="/home"><img  src= "C:/Users/hp/Desktop/hprweb/members/templates/file.html" width='50' height='50'/></a>
		<a href="/maths">maths</a>
		<a href="/biology">Biology</a>
		<a href="/chemistry">Chemistry</a>
		<a href="/physics">physics</a>
		<a  href="/admin">admin</a>
	</ul>
</body>

</html>