<title>calculate molecular formula of compound with four elements</title>
<head>
<body>
<body >
	{%include "barra.html"%}
	<p></p>

	{%include "molecbar.html"%}
<body style="background-color:lightgrey;">


<h1>Empirical formula of compound with four different elements</h1>

<form action="/molecsult4tvm/" method="GET">
		<label>temperature(kelvin)</label>
		<input type="text" name="t">
		<p></p>
		<label>volume</label>
		<input type="text" name="v">
		<p></p>
		<label>Mass</label>
		<input type="text" name="M">
		<p></p>

		<label>pressure(atm)</label>
		<input type="text" name="p">
		<p></p>


		<label>element 1</label>
		<input type="text" name="e1">
		<label>percentage of element 1</label>
		<input type="text" name="p1"> 
		<p></p>
		<label>element 2</label>
		<input type="text" name="e2">
		<label>percentage of element 2</label>
		<input type="text" name="p2"> 
		<p></p>
		<label>element 3</label>
		<input type="text" name="e3">
		<label>percentage of element 3</label>
		<input type="text" name="p3"> 
		<p></p>
		<label>element 4</label>
		<input type="text" name="e4">
		<label>percentage of element 4</label>
		<input type="text" name="p4">



		<input type="submit" value="enter">


<p></p><a href="/molec4">knowing Mr</a>

</body>