<head>
<body>
<body >
	{%include "barra.html"%}
	<p></p>
	{%include "mrbar.html"%}


<h1>Empirical formula of compound with two different elements</h1>

<form action="/mrsult2/" method="GET">
		<label>element 1</label>
		<input type="text" name="e1"> 
		<label>percentage of element 1</label>
		<input type="text" name="p1">
		<p></p>
		<label>element 2</label>
		<input type="text" name="e2">
		<label>percentage of element 2</label>
		<input type="text" name="p2"> 

		<input type="submit" value="enter">

<p></p>

<a href="/question">excercises</a>




</body>

</head>