<title>calculate empirical formula of element with three compounds</title>
<head>
<body>
<body >
	{%include "barra.html"%}
	<p></p>
	{%include "mrbar.html"%}


<h1>Empirical formula of compound with three different elements</h1>

<form action="/mrsult3/" method="GET">
		<label>element 1</label>
		<input type="text" name="e1"> 
		<label>percentage of element 1</label>
		<input type="text" name="p1">
		<p></p>
		<label>element 2</label>
		<input type="text" name="e2">
		<label>percentage of element 2</label>
		<input type="text" name="p2"> 
		<p></p>
		<label>element 3</label>
		<input type="text" name="e3">
		<label>percentage of element 3</label>
		<input type="text" name="p3"> 


		<input type="submit" value="enter">




</body>

</head>